{{#if productos.length}}
{{#each productos}}

<p>Producto: {{this.title}} </p>

<p>Precio: {{this.price}}</p>

{{/each}}

{{else}}
<h2>NO HAY PRODUCTOS</h2>

{{/if}}

<script src="/socket.io/socket.io.js"></script>

<script src="/js/home.js"></script>

